.mainTaskDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 80%;
  margin: auto;
}

.singleTaskDiv {
  background-color: white;
  overflow-y: scroll;
  height: 35rem;
  width: 20rem;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.singleTaskDiv::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #e6ecf8;
}
.singleTaskDiv::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 100vw;
}

.singleTaskDiv h1 {
  background-color: #d8d8ff;
  border-radius: 10px;
  border: none;
  text-align: center;
}

.singleDiv {
  border-radius: 10px;
  border: 1px solid;
  background-color: rgb(194 219 248);
  padding: 5px;
  margin-bottom: 1rem;
}

.firstDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -20px;
}

.firstDiv p {
  background-color: red;
  color: white;
  border-radius: 38px;
  width: 4rem;
  height: 1.5rem;
  text-align: center;
}

.firstDiv div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
